SA_PASSWORD=YourStrong!Passw0rd

AUTH_DB=AuthDb
PROFILE_DB=ProfileDb
BOOKING_DB=BookingDb
WORKSHIFT_DB=WorkshiftDb

JWT_SECRET=super-long-demo-secret-change-this
JWT_ISSUER=staffsystem
JWT_AUDIENCE=staffsystem-users