SQL_SERVER=
SQL_PORT=
SQL_USER=
SQL_PASSWORD=

AUTH_DB=
PROFILE_DB=
BOOKING_DB=
WORKSHIFT_DB=

AUTH_CONNECTION_STRING=
PROFILE_CONNECTION_STRING=
BOOKING_CONNECTION_STRING=
WORKSHIFT_CONNECTION_STRING=

SERVICEBUS__CONNECTIONSTRING=
CLOUD_DB_STRING=